* {
    padding: 0;
    margin: 0;
    background-color: #4d2c20;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #4d2c20;
    font-family: Arial, sans-serif;
}

#cabecalho {
    text-align: center;
    background-color: #6a3d2c;
    padding: 10px 0px;
}

#logotipo {
    background-color: #6a3d2c;
    width: 15%;
    height: 15%;
}

#inicio {
    font-weight: 800;
    background-color: #6a3d2c;
    color: #e5c9b6;
    text-align: center;
    margin: 10px;
}

.bemvindos {
    padding: 20px 30px 0px 30px;
}

.bemvindos p {
    background-color: #6a3d2c;
    font-size: 1.1rem;
    padding: 20px;
    text-align: justify;
    font-weight: 600;
}

.tituloGeneros {
    font-weight: 600;
    font-size: 1.1rem;
    background-color: #000;
    color: #e5c9b6;
    padding: 20px 15px;
    margin: 10px 10px;
}

section {
    padding: 15px 20px;
}

.fundo {
    background-color: #6a3d2c;
    text-align: center;
    box-sizing: border-box;
    height: 15%;
    margin: 0px;
    padding: 0px;
}

h3 {
    text-align: center;
}

a {
    background-color: #a19587;
    border: none;
    color: black;
    padding: 8px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 20px 30px;
}

a:hover {
    background-color: #3e8e41;
    cursor: pointer;
}

.container {
    display: flex;
    align-items: stretch;
    list-style-type: none;
}

.bordalivros {
    background-color: #6a3d2c;
    border: 10px solid #6a3d2c;
    margin: 4px;
    width: 200px;
    height: 400px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.imagens {
    width: 150px;
    height: 200px;
}