@charset "utf-8";

body{
    background-color: #8f7e4f;
    margin: 0 5cm;
    padding: 0px;
}

.titulo{
    color: #d5ccc7;
    text-align: center;
    font-size: 1.5cm;
}

.colaboradores{
    text-align: start;
}

h1{
    text-align: center;
    color: #000000;
}

a:hover {
    color: #d5ccc7;
}

p{
    color: #d5ccc7;
    text-align: justify;
}

li{
    color: #d5ccc7;
}

p::first-letter{
    font-size: 200%;
    color: #000000;
}