@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background: #4d2c20;
}

#tituloprincipal {
    padding: 20px;
    margin: 10px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 5rem;
}

nav {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: #ffc2a2;
    flex-direction: column;
}

.menu .links a:hover {
    color: rgb(255, 255, 255);
    transition: .4s;
}

.links a {
    color: white;
    text-decoration: none;
    margin-right: 2rem;
}

.menu {
    display: flex;
    align-items: center;
}

.menu .links a {
    color: rgb(0, 0, 0);
    margin-bottom: 2rem;
    margin-top: 30px;
}

h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

h3 {
    font-size: 20px;
}

.vermais {
    display: flex;
    justify-items: center;
}

article {
    font-family: Arial, Helvetica, sans-serif;
}

.container-livros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;

}

section {
    text-align: center;
    padding: 3em;
    margin: auto;
    font-size: 1.17em;
    color: rgb(147, 179, 243);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 3em;
}

footer {
    border-top: 10px solid #6a3d2c;
    background-color: #ffc2a2;
    text-align: center;
    padding: 20px 0px;
    font-size: 0.9rem;
    color: #4d2c20;
    font-weight: 800;
    position: relative;
    bottom: 0;
    width: 100%;
}

.imagens {
    width: 100%;
    height: 250px;
}

.container {
    padding: 20px;
    height: auto;
    display: flex;
    align-items: center;
    align-self: center;
    overflow: hidden;
    flex-direction: column;

}

.container .livros {
    display: flex;
    flex-direction: column;
    margin: 15px;
    border: solid 1px;
    background-color: #6a3d2c;
    margin: 4px;
    width: 200px;
    height: 400px;
    padding: 20px;
    align-self: center;
}

button {
    background-color: #a19587;
    border: none;
    color: black;
    padding: 8px;
    display: flex;
    font-size: 16px;
    margin: 10px;
}

.div-buttons {
    margin-top: auto;
    /* adiciona margem superior automática para fixar a div de botões no final */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bemvindos p {
    background-color: #6a3d2c;
    font-size: 1.1rem;
    padding: 20px;
    text-align: justify;
    font-weight: 600;
    
}

#artigo {
    border: solid 1px;
    padding: 20px;
    align-self: self-start;
}

footer {
    border-top: 10px solid #6a3d2c;
    background-color: #ffc2a2;
    text-align: center;
    padding: 20px 0px;
    font-size: 0.9rem;
    color:#4d2c20;
    font-weight: 800;
    
}