@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
   background: #4d2c20;
}
#tituloprincipal {
    padding: 20px;
    margin: 10px;
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 5rem;
}

nav {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: #ffc2a2;
    flex-direction: column;
}

.menu .links a:hover {
    color: rgb(255, 255, 255);
    transition: .4s;
}

.links a {
    color: white;
    text-decoration: none;
    margin-right: 2rem;
}

.menu {
    display: flex;
    align-items: center;
}

.menu .links a {
    color: rgb(0, 0, 0);
    margin-bottom: 2rem;
    margin-top: 30px;
}

section {
    text-align: center;
    padding: 3em;
    margin: auto;
    font-size: 2em;
    line-height: 3em;
    color: rgb(147, 179, 243);
    font-family: 'Lobster', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Vina Sans', cursive;
    font-weight: 3em;
}

footer {
    border-top: 10px solid #6a3d2c;
    background-color: #ffc2a2;
    text-align: center;
    padding: 20px 0px;
    font-size: 0.9rem;
    color:#4d2c20;
    font-weight: 800;
}
.imagens{
    width:100%; 
    height: 250px;
}
.container{
    padding: 20px;
    height:auto;
    display: flex;
    align-items: start ;
    align-self: center;
    overflow:hidden;
}
.container .livros{
    margin: 15px;
    border: solid 1px ;
    background-color: #6a3d2c;
    margin: 4px;
    width: 200px;
    height: 400px;
    padding: 20px;
    align-self: center;
}
.bemvindos p {
    background-color: #6a3d2c;
    font-size: 1.1rem;
    padding: 20px;
    text-align: justify;
    font-weight: 600;
}
#artigo{
    border: solid 1px;
    padding: 20px;
    align-self:self-start;
}



