@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: #ffc2a2;
    flex-direction: column;
}

.menu .links a:hover {
    color: rgb(255, 255, 255);
    transition: .4s;
}

.links a {
    color: white;
    text-decoration: none;
    margin-right: 2rem;
}

.menu {
    display: flex;
    align-items: center;
}

.menu .links a {
    color: rgb(0, 0, 0);
    margin-bottom: 2rem;
    margin-top: 30px;
}

footer {
    border-top: 10px solid #6a3d2c;
    background-color: #ffc2a2;
    text-align: center;
    padding: 20px 0px;
    font-size: 0.9rem;
    color: #4d2c20;
    font-weight: 800;
}

body {
    background-color: #4d2c20;
    font-family: Arial, sans-serif;
    color: black;
}

section {
    padding: 15px 20px;
}

.titulo {
    text-align: center;
    padding: 15px 0px;
    margin-bottom: 10px;
}

.descricao {
    padding: 15px 20px;
    text-align: justify;
    background-color: #6a3d2c;
    list-style-type: none;
    font-weight: 800;
}

.container {
    display: flex;
    justify-items: center;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #6a3d2c;
    padding: 20px 0px;
}

.containerColaboradores {
    display: flex;
    flex-direction: column;
    background-color: #4d2c20;
    margin: 4px;
    width: 100px;
    height: 100px;
    padding: 20px;
    text-align: center;
    align-items: center;
}

footer {
    border-top: 10px solid #6a3d2c;
    background-color: #ffc2a2;
    text-align: center;
    padding: 20px 0px;
    font-size: 0.9rem;
    color: #4d2c20;
    font-weight: 800;
    margin-top: 30px;
}

.botao-github {
    display: inline-block;
    background-color: #333;
    color: #fff;
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.botao-github:hover {
    background-color: #555;
}

/* Responsivo */

@media screen and (max-width:1120px) {
    .container {
        flex-wrap: wrap;
    }
}
